.git/
.gitignore
.project
.idea/
*.tmproj
.vscode/
.venv
*.tgz
.github
*.py
*.adoc
*.txt
*.adoc
skaffold.yaml
values-lint.yaml
node_modules
*.sh
package*.json
*.puml
.editorconfig
.dockerignore
test/
.releaserc.yaml
