nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: false
  name:

registry:
  enabled: true

  ## uncomment and adjust for kafka persistence
  # kafka:
  #   bootstrapServers: kafka1:9092,kafka2:9092

  ## uncomment and adjust for sql persistence
  # sql:
  #   url: jdbc:postgresql://postgres/apicurio-registry
  #   username: apicurio
  #   password: apicurio-password

  image:
    registry: "quay.io"
    repository: "apicurio/apicurio-registry"
    tag: "2.3.1.Final"
  # list of name, value pairs of extra environment vars
  extraEnv: []
    # - name: SOME_ENV
    #   value: SOME_VALUE
  resources: {}
    # limits:
    #   cpu: 1000m
    #   memory: 1300Mi
    # requests:
    #   cpu: 200m
    #   memory: 600Mi
  nodeSelector: {}
  affinity: {}
  tolerations: []

  service:
    type: ClusterIP

  ingress:
    enabled: false
    host: "apicurio.local"
    path: "/"
    pathType: "ImplementationSpecific"
    tls: false
    annotations: {}
    labels: {}

sync:
  enabled: true
  image:
    registry: "quay.io"
    repository: "apicurio/apicurio-registry-kube-sync"
    tag: "d0e2505"
  # registryUrl:
  resources: {}
    # limits:
    #   cpu: 500m
    #   memory: 800Mi
    # requests:
    #   cpu: 200m
    #   memory: 600Mi
  nodeSelector: {}
  affinity: {}
  tolerations: []
